.container {
	margin: 1% auto;
	width: 65%;
}

/* Nav */
.navbar {
	border-radius: 4px;
}
.navbar-nav,
footer {
	font-size: 13px;
	font-family: 'Montserrat';
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
.navbar-default {
	border: 0;
	min-height: 53px;
	background: #3485b8;
	background: -o-linear-gradient(top, #3485b8, #2867a4);
	background: -moz-linear-gradient(top, #3485b8, #2867a4);
	background: -webkit-linear-gradient(top, #3485b8, #2867a4);
	background: linear-gradient(top, #3485b8, #2867a4);
}
.navbar-default .navbar-brand {
	color: #ffffff;
	text-shadow: 0 4px 0 #7da700;
}
.navbar-header {
	min-height: 55px;
	background: -o-linear-gradient(top, #9ac200, #7cb000);
	background: -moz-linear-gradient(top, #9ac200, #7cb000);
	background: -webkit-linear-gradient(top, #9ac200, #7cb000);
	background: linear-gradient(top, #9ac200, #7cb000);
	border-radius: 4px 0 0 4px;
}
@media all and (max-width: 700px) {
	.navbar-header {
		border-radius: 4px;
	}
}
.navbar-header .navbar-brand {
	font-size: 24px;
	font-family: 'Pacifico';
}
.navbar-default .navbar-text {
  color: #fff;
}
.navbar-default .navbar-nav > li {
	padding: 0 5px;
}/*
.navbar-default .navbar-nav > li:after {
	content: '|';
	font-size: 1px;
	display: inline;
	position: relative;
	right: 0px;
	height: 26px;
	width: 1px;
	background-color: red;
}*/
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li > a {
	background-color: inherit;
	color: #fff;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover {
	color: #dddddd;
	background-color: inherit;
}
.navbar-default .navbar-nav > .active {
	border-bottom: 5px solid #8bb900;
}
.navbar-default .navbar-nav > .active:last-child {
	border-radius: 0 0 4px 0;
}

/* Body */

.panel {
	font-family: 'Montserrat';
}
.panel-body > .panel-narrow {
	height: 460px;
	overflow-y: hide;
}
.panel-narrow p, .panel-narrow a, .panel-narrow blockquote,
.panel-narrow ul, .panel-narrow li, .panel-narrow img,
.panel-narrow form {
	margin-right: 3%;
}
.panel-body > .panel-narrow > iframe::-webkit-scrollbar {
	margin-left: 5px;
	width: 6px;
	border-radius: 4px;
	background-color: #f1f1f1;
}
.panel-body > .panel-narrow > iframe::-webkit-scrollbar-thumb  {
	border-radius: 4px;
	background-color: #bbbbbb;
}
.panel-body > .panel-narrow {
	margin: 1%;
}

/* Buttons */
.btn {
	font-family: 'Montserrat', 'Open Sans';
	letter-spacing: .25px;
	text-transform: uppercase;
}

.btn-success {
	min-height: 53px;
	background: #9ac200;
	background: -o-linear-gradient(top, #9ac200, #7cb000);
	background: -moz-linear-gradient(top, #9ac200, #7cb000);
	background: -webkit-linear-gradient(top, #9ac200, #7cb000);
	background: linear-gradient(top, #9ac200, #7cb000);
	border: 0;
}

.btn-primary {
	min-height: 53px;
	background: #3485b8;
	background: -o-linear-gradient(top, #3485b8, #2867a4);
	background: -moz-linear-gradient(top, #3485b8, #2867a4);
	background: -webkit-linear-gradient(top, #3485b8, #2867a4);
	background: linear-gradient(top, #3485b8, #2867a4);
	border: 0;
}

/* Home Cover */
.cover {
	width: 100%;
	height: 305px;
	overflow: hidden;
	background-color: #000;
	border-radius: 4px;
}

.cover img {
	opacity: 0.7;
	width: 100%;
	height: 305px;
}

.text {
	position: relative;
	top: -295px;
	color: white;
	margin: 0 10px;
}

.text .btn {
	margin-left: auto;
	margin-right: auto;
	min-width: 180px;
}

@media all and (min-width: 1024px) {
	.text {
		margin: auto 60px;
	}

	.page-text {
		margin: auto 15px;
	}
}

/* Cover */
.page-cover {
	width: 100%;
	max-height: 85px;
	overflow: hidden;
	background-color: #000;
	margin-bottom: -50px;
}

.page-cover img {
	opacity: 0.7;
	width: 100%;
	height: auto;
}

.page-text {
	position: relative;
	top: -30px;
	z-index: 20;
	color: white;
}

/* Util */
a {
	color: #3485b8;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', 'Montserrat';
}