.container {
	width: 60%;
	margin: 1% auto;
}

/**
 * Custom nav-bar color
 */
.navbar-emerald {
  background-color: #1abc9c;
}

.navbar-emerald:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #48c9b0;
}

.navbar-emerald .navbar-brand {
  color: #ffffff;
}
.navbar-emerald .navbar-brand:hover,
.navbar-emerald .navbar-brand:focus {
  color: #ecf0f1;
  background-color: transparent;
}
.navbar-emerald .navbar-toggle:before {
  color: #ffffff;
}
.navbar-emerald .navbar-toggle:hover,
.navbar-emerald .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-emerald .navbar-toggle:hover:before,
.navbar-emerald .navbar-toggle:focus:before {
  color: #ecf0f1;
}
.navbar-emerald .navbar-collapse {
  border-color: #2f4154;
  border-width: 2px;
}
.navbar-emerald .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-emerald .navbar-nav > li > a:hover,
.navbar-emerald .navbar-nav > li > a:focus {
  color: #ecf0f1;
  background-color: transparent;
}
.navbar-emerald .navbar-nav > .active > a,
.navbar-emerald .navbar-nav > .active > a:hover,
.navbar-emerald .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #ecf0f1;
}
.navbar-emerald .navbar-nav > .disabled > a,
.navbar-emerald .navbar-nav > .disabled > a:hover,
.navbar-emerald .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-emerald .navbar-nav > .dropdown > a:hover .caret,
.navbar-emerald .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #ecf0f1;
  border-bottom-color: #ecf0f1;
}
.navbar-emerald .navbar-nav > .open > a,
.navbar-emerald .navbar-nav > .open > a:hover,
.navbar-emerald .navbar-nav > .open > a:focus {
  background-color: #ecf0f1;
  color: #ffffff;
  border-left-color: transparent;
}
.navbar-emerald .navbar-nav > .open > a .caret,
.navbar-emerald .navbar-nav > .open > a:hover .caret,
.navbar-emerald .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-emerald .navbar-nav > .dropdown > a .caret {
  border-top-color: #4b6075;
  border-bottom-color: #4b6075;
}
.navbar-emerald .navbar-nav > .open > .dropdown-arrow {
  border-top-color: #1abc9c;
  border-bottom-color: #1abc9c;
}
.navbar-emerald .navbar-nav > .open > .dropdown-menu {
  background-color: #1abc9c;
  padding: 3px 4px;
}
.navbar-emerald .navbar-nav > .open > .dropdown-menu > li > a {
  color: #e1e4e7;
  border-radius: 4px;
  padding: 6px 9px;
}
.navbar-emerald .navbar-nav > .open > .dropdown-menu > li > a:hover,
.navbar-emerald .navbar-nav > .open > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #ecf0f1;
}
.navbar-emerald .navbar-nav > .open > .dropdown-menu > .divider {
  background-color: #2f4154;
  height: 2px;
  margin-left: -4px;
  margin-right: -4px;
}
@media (max-width: 767px) {
  .navbar-emerald .navbar-nav > li > a {
    border-left-width: 0;
  }
  .navbar-emerald .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-emerald .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-emerald .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecf0f1;
    background-color: transparent;
  }
  .navbar-emerald .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-emerald .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-emerald .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #ecf0f1;
  }
  .navbar-emerald .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-emerald .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-emerald .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
  .navbar-emerald .navbar-nav .dropdown-menu .divider {
    background-color: #2f4154;
  }
}
.navbar-emerald .navbar-form .form-control {
  color: #536a81;
  border-color: transparent;
  background-color: #293a4a;
}
.navbar-emerald .navbar-form .form-control:-moz-placeholder {
  color: #536a81;
}
.navbar-emerald .navbar-form .form-control::-moz-placeholder {
  color: #536a81;
  opacity: 1;
}
.navbar-emerald .navbar-form .form-control:-ms-input-placeholder {
  color: #536a81;
}
.navbar-emerald .navbar-form .form-control::-webkit-input-placeholder {
  color: #536a81;
}
.navbar-emerald .navbar-form .form-control.placeholder {
  color: #536a81;
}
.navbar-emerald .navbar-form .form-control:focus {
  border-color: #ecf0f1;
  color: #ecf0f1;
}
.navbar-emerald .navbar-form .btn {
  color: #ffffff;
  background-color: #ecf0f1;
}
.navbar-emerald .navbar-form .btn:hover,
.navbar-emerald .navbar-form .btn:focus,
.navbar-emerald .navbar-form .btn:active,
.navbar-emerald .navbar-form .btn.active,
.open .dropdown-toggle.navbar-emerald .navbar-form .btn {
  color: #ffffff;
  background-color: #48c9b0;
  border-color: #48c9b0;
}
.navbar-emerald .navbar-form .btn:active,
.navbar-emerald .navbar-form .btn.active,
.open .dropdown-toggle.navbar-emerald .navbar-form .btn {
  background: #16a085;
  border-color: #16a085;
}
.navbar-emerald .navbar-form .btn.disabled,
.navbar-emerald .navbar-form .btn[disabled],
fieldset[disabled] .navbar-emerald .navbar-form .btn,
.navbar-emerald .navbar-form .btn.disabled:hover,
.navbar-emerald .navbar-form .btn[disabled]:hover,
fieldset[disabled] .navbar-emerald .navbar-form .btn:hover,
.navbar-emerald .navbar-form .btn.disabled:focus,
.navbar-emerald .navbar-form .btn[disabled]:focus,
fieldset[disabled] .navbar-emerald .navbar-form .btn:focus,
.navbar-emerald .navbar-form .btn.disabled:active,
.navbar-emerald .navbar-form .btn[disabled]:active,
fieldset[disabled] .navbar-emerald .navbar-form .btn:active,
.navbar-emerald .navbar-form .btn.disabled.active,
.navbar-emerald .navbar-form .btn[disabled].active,
fieldset[disabled] .navbar-emerald .navbar-form .btn.active {
  background-color: #ecf0f1;
  border-color: #ecf0f1;
}
.navbar-emerald .navbar-form .input-group-btn .btn {
  border-color: transparent;
  background-color: #293a4a;
  color: #526a82;
}
.navbar-emerald .navbar-form .input-group.focus .form-control,
.navbar-emerald .navbar-form .input-group.focus .input-group-btn .btn {
  border-color: #ecf0f1;
  color: #ecf0f1;
}
@media (max-width: 767px) {
  .navbar-emerald .navbar-form {
    border-color: #2f4154;
    border-width: 2px 0;
  }
}
.navbar-emerald .navbar-text {
  color: #ffffff;
}
.navbar-emerald .navbar-text a {
  color: #ffffff;
}
.navbar-emerald .navbar-text a:hover,
.navbar-emerald .navbar-text a:focus {
  color: #ecf0f1;
}
.navbar-emerald .navbar-btn {
  color: #ffffff;
  background-color: #ecf0f1;
}
.navbar-emerald .navbar-btn:hover,
.navbar-emerald .navbar-btn:focus,
.navbar-emerald .navbar-btn:active,
.navbar-emerald .navbar-btn.active,
.open .dropdown-toggle.navbar-emerald .navbar-btn {
  color: #ffffff;
  background-color: #48c9b0;
  border-color: #48c9b0;
}
.navbar-emerald .navbar-btn:active,
.navbar-emerald .navbar-btn.active,
.open .dropdown-toggle.navbar-emerald .navbar-btn {
  background: #16a085;
  border-color: #16a085;
}
.navbar-emerald .navbar-btn.disabled,
.navbar-emerald .navbar-btn[disabled],
fieldset[disabled] .navbar-emerald .navbar-btn,
.navbar-emerald .navbar-btn.disabled:hover,
.navbar-emerald .navbar-btn[disabled]:hover,
fieldset[disabled] .navbar-emerald .navbar-btn:hover,
.navbar-emerald .navbar-btn.disabled:focus,
.navbar-emerald .navbar-btn[disabled]:focus,
fieldset[disabled] .navbar-emerald .navbar-btn:focus,
.navbar-emerald .navbar-btn.disabled:active,
.navbar-emerald .navbar-btn[disabled]:active,
fieldset[disabled] .navbar-emerald .navbar-btn:active,
.navbar-emerald .navbar-btn.disabled.active,
.navbar-emerald .navbar-btn[disabled].active,
fieldset[disabled] .navbar-emerald .navbar-btn.active {
  background-color: #ecf0f1;
  border-color: #ecf0f1;
}
@media (min-width: 768px) {
  .navbar-embossed > .navbar-collapse {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  }
  .navbar-embossed.navbar-emerald .navbar-nav .active > a,
  .navbar-embossed.navbar-emerald .navbar-nav .open > a {
    -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  }
}

.custom-form {
  margin: 1% auto;
  width: 70%;
  padding: 25px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}

#footer-note {
  cursor: default;
  border-radius: auto auto 0 0;
}

/**
 * Text coloring
 */
span.emerald {
	color: #E74C3C;
}

span.turquoise {
	color: #454545;
}

span.peter-river {
	color: #3498DB;
}

span.sun-flower {
	color: #F1C40F;
}

span.carrot {
	color: #E67E22;
}

span.alizarin {
	color: #E74C3C;
}